<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>414 URI Too Long</title>
    <meta name="robots" content="noindex, nofollow">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <meta name="app-id" content="{{app_id}}">
    <meta name="organization" content="IncognitoVault - Secure Personal Space Solutions">
    <meta name="description" content="IncognitoVault provides secure and private digital spaces for personal and professional use.">
    <meta name="author" content="ParseSphere Innovations">
    <link rel="icon" href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0id2hpdGUiIGNsYXNzPSJiaSBiaS1sb2NrLWZpbGwiIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHBhdGggZD0iTTggMWEyIDIgMCAwIDEgMiAydjRINlYzYTIgMiAwIDAgMSAyLTJtMyA2VjNhMyAzIDAgMCAwLTYgMHY0YTIgMiAwIDAgMC0yIDJ2NWEyIDIgMCAwIDAgMiAyaDZhMiAyIDAgMCAwIDItMlY5YTIgMiAwIDAgMC0yLTJ6Ii8+PC9zdmc+" type="image/svg+xml">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/error-page.css') }}">
</head>
<body>
    <div class="container text-center">
        <div class="row justify-content-center align-items-center vh-100">
            <div class="col-md-8">
                <div class="error-page">
                    <h1 class="display-1">414</h1>
                    <h2 class="display-4">URI Too Long</h2>
                    <p class="lead">
                        The request URI is too long for the server to process. 😕
                    </p>
                    <p class="lead">
                        This typically occurs when the request URL exceeds the server's limit for URI length.
                    </p>
                    <h4>Possible Causes:</h4>
                    <ul class="list-unstyled">
                        <li>Long Query Parameters: The URL may contain overly long query parameters.</li>
                        <li>Deeply Nested Resources: The URI may be excessively long due to deeply nested resources or identifiers.</li>
                        <li>URL Encoding: Excessive URL encoding might contribute to the length of the URI.</li>
                    </ul>
                    <h4>Next Steps:</h4>
                    <ul class="list-unstyled">
                        <li>Shorten URL: Try to reduce the length of the URL and avoid long query strings.</li>
                        <li>Use POST Requests: If applicable, switch to a POST request where the data can be sent in the request body rather than the URL.</li>
                        <li>Contact Support: If you need further assistance, reach out to support for help with URL length issues.</li>
                    </ul>
                    <a href="/" class="btn btn-primary btn-lg">Return to Homepage</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
