<!-- templates/Super-Admin/Admin.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}IncognitoVault{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="csrf-token" content="{{ csrf_token() }}">
  <meta name="name" content="{{ name }}">
  <meta name="user-id" content="{{ user_id }}">
  <meta name="app-id" content="{{app_id}}">
  <meta name="organization" content="IncognitoVault - Secure Personal Space Solutions">
  <meta name="description" content="IncognitoVault provides secure and private digital spaces for personal and professional use.">
  <meta name="author" content="ParseSphere Innovations">
  <link rel="icon" href="/static/Pictures/lock.ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/SA.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/SA_Mobile.css') }}">
</head>

<body id="body-pd">
  <header class="header" id="header">
    <div class="header_toggle">
      <i class='bx bx-menu' id="header-toggle"></i>      
    </div>
    <div class="date-time">
      <div class="container">
        <div class="row">
          <div class="col-md-12 d-flex justify-content-between align-items-center">
            <span id="date-time" class="text-muted"></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="l-navbar d-none d-md-block" id="nav-bar">
    <nav class="nav">
      <div>
        <a href="javascript:void(0);" class="nav_logo" title="Go to Home">
          <i class='bx bx-lock nav_logo-icon'></i>
          <span class="lock-name"><strong>Incognito Vault</strong></span>
        </a>
        <div class="nav_list">
          <a href="/Dashboard" class="nav_link" id="dashboard-link" title="View Dashboard">
            <i class='bx bx-grid-alt nav_icon'></i>
            <span class="nav_name"><strong>Dashboard</strong></span>
          </a>
          <a href="/Database" class="nav_link" id="database-link" title="Access Database">
            <i class='bx bx-data nav_icon'></i>
            <span class="nav_name"><strong>Database</strong></span>
          </a>
          <a href="/Forms" class="nav_link" id="form-link" title="Manage Forms">
            <i class='bx bx-file nav_icon'></i>
            <span class="nav_name"><strong>Forms</strong></span>
          </a>
          <a href="/Settings" class="nav_link" id="settings-link" title="Change Settings">
            <i class='bx bx-cog nav_icon'></i>
            <span class="nav_name"><strong>Settings</strong></span>
          </a>
          <a href="/Logs" class="nav_link" id="logs-link" title="View Logs">
            <i class='bx bx-book nav_icon'></i>
            <span class="nav_name"><strong>Logs</strong></span>
          </a>
          <a href="/Documentation" class="nav_link" id="documentation-link" title="App Documentation">
            <i class="bx bx-file nav_icon"></i>
            <span class="nav_name"><strong>Documentation</strong></span>
          </a>
        </div>
      </div>
      <a href="/logout" class="nav_link" title="Sign Out">
        <i class='bx bx-log-out nav_icon'></i>
        <span class="nav_name"><strong>SignOut</strong></span>
      </a>
    </nav></div>
  </div>

  <div class="d-md-none mobile-nav scrolling-top">
    <nav class="navbar navbar-expand-lg ">
      <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0);"><u>Incognito Vault</u></a>
        <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mobile-nav" aria-controls="mobile-nav" aria-expanded="false" aria-label="Toggle navigation">
          <div class="three-dots" id="three-dots">
            <i class='bx bx-dots-vertical-rounded'></i>
        </div>
        </button>
        <div class="collapse navbar-collapse" id="mobile-nav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a href="/Dashboard" class="nav_link" id="dashboard-link" title="View Dashboard">
                <i class='bx bx-grid-alt nav_icon'></i>
                <span class="nav_name"><strong>Dashboard</strong></span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/Database" class="nav_link" id="database-link" title="Access Database">
                <i class='bx bx-data nav_icon'></i>
                <span class="nav_name"><strong>Database</strong></span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/Forms" class="nav_link" id="form-link" title="Manage Forms">
                <i class='bx bx-file nav_icon'></i>
                <span class="nav_name"><strong>Forms</strong></span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/Settings" class="nav_link" id="settings-link" title="Change Settings">
                <i class='bx bx-cog nav_icon'></i>
                <span class="nav_name"><strong>Settings</strong></span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/Logs" class="nav_link" id="logs-link" title="View Logs">
                <i class='bx bx-book nav_icon'></i>
                <span class="nav_name"><strong>Logs</strong></span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/Documentation" class="nav_link" id="documentation-link" title="App Documentation">
                <i class="bx bx-file nav_icon"></i>
                <span class="nav_name"><strong>Documentation</strong></span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/logout" class="nav_link" title="Sign Out">
                <i class='bx bx-log-out nav_icon'></i>
                <span class="nav_name"><strong>SignOut</strong></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <br>
  <!-- Dynamic Content for Each Page -->
  <div class="height-100">
      <div class="container">
         <!-- Website Header -->
         <div class="row mb-4">
             <div class="col-12">
             <h1 class="website-header">{% block page_header %}Default Header{% endblock %}</h1>
             <hr class="header-line">
         </div>
      </div>
        {% block content %}
        

        
        {% endblock %}
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12 d-flex justify-content-between align-items-center">
          <span class="text-muted"><strong>&copy; <span id="year"></span> Incognito Vault v1.0.0 by ParseSphere Innovations. All Right Reserved.</strong></span>
        </div>
      </div>
    </div>
  </footer>
  
  <script src="https://kit.fontawesome.com/a076d05399.js" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{{ url_for('static', filename='JS/alive.js') }}"></script>
  <script src="{{ url_for('static', filename='JS/SA.js') }}"></script>

</body>
</html>
