.venv
venv
Database/
/Database/Certificate/ca.pem
/Database/config.json
dump.rdb
/modules/__pycache__
__pycache__
SSL/
Test-Cases/
MySQL/
Logs/
Logs/Logs.log
instance/
.vscode
.pytest_cache
Features.txt
__pycache__
Config
Logs
Logs/app.log/